.contact-form{
    background: url("/static/images/beach.webp");
    background-size: cover;
    #background: linear-gradient(300deg, #00bfff, #000, #FFF);
}

.feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: .75rem;
        margin-left: .25em;
        margin-top: .25em;
        background-color: rgb(82,179,190);
    }

.parallax-mountains {
  /* The image used */
  background-image: url("/static/images/bridge.webp");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-beach {
  /* The image used */
  background-image: url("/static/images/beach.webp");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 19s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedBackground{
  from {background-position: 0 0;}
  to {background-position: 100% 0;}
}

h1,h2,h3,h4,h5,h6 {
    font-family: Poppins
}

html {
  scroll-behavior: smooth;
}

.navbar-brand{
    font-size: 30px !important;
}

.card-title {
    color:pink;
    font-family: "Times New Roman", Times, serif;
    }

#showcase img{
    width: 90%;
    margin-left: 40px
}

#showcase .showcase-right{}

#testimonial{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top:30px;
}

#testimonial p{
    font-size: 22px;
    font-family: 'Joesfin Sans';
    color: #000
}

#testimonial p.customer{
    font-size: 18px;
    color: #666;
}

.carousel-indicators {
  position: static; /* Remove absolute positioning */
  margin-top: 20px; /* Add some spacing below the carousel */
  display: flex;
  justify-content: center; /* Center the indicators horizontally */
}

.carousel-indicators button {
  background-color: #6c757d !important; /* Dark gray for inactive indicators */
  border: none;
  width: 10px;
  height: 10px;
  margin: 5px;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000; /* Black for the active indicator */
  opacity: 1; /* Ensure full opacity for the active indicator */
}

#footer{
    #background:url(../images/banner.jpg);
}

@media (min-width: 576px) {
    .carousel-item img {
        width: auto !important;
        height: 400px;
        max-height: 400px;
    }
}