{% extends 'base.html' %}
{% block title %}Flourishing Seasons {% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container pb-5">
    <div class="row">
        <div class="col-md-9 mb-4 mt-4">
            <img src='/static/images/blog_images/{{post.picture}}' alt="" class="img-fluid mb-3 rounded-3">
            <div class="post-content">
                <h3>{{post.title | safe }}</h3>
                <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-user-circle-o"></i> <a href="#">{{post.author}}</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> <a href="#">{{post.date}}</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-tags"></i> <a href="#">{{post.category}}</a>
                    </li>
                </ul>
                <p>{{post.body | safe }}</p>
                <ul class="list-inline share-buttons">
                    <li class="list-inline-item">Share Post:</li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <hr class="mb-4">
                <h4 class="mb-4 text-uppercase font500">About Author</h4>
                <div class="media mb-4">
                    <i class="d-flex mr-3 fa fa-user-circle fa-5x text-primary"></i>
                    <div class="media-body">
                        <h5 class="mt-0 font700">Jane Doe</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <hr class="mb-4">
                <h4 class="mb-4 text-uppercase font500">Comments</h4>
                <div class="media mb-4">
                    <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                    <div class="media-body">
                        <h5 class="mt-0 font400 clearfix">
                            <a href="#" class="float-right">Reply</a>
                            Jane Doe</h5>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <div class="media mb-4">
                    <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                    <div class="media-body">
                        <h5 class="mt-0 font400 clearfix">
                            <a href="#" class="float-right">Reply</a>
                            Jane Doe</h5>Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <div class="media mb-4">
                    <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                    <div class="media-body">
                        <h5 class="mt-0 font400 clearfix">
                            <a href="#" class="float-right">Reply</a>
                            Jane Doe</h5> Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <hr class="mb-4">
                <h4 class="mb-4 text-uppercase font500">Post a comment</h4>
                <form role="form">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="jane@doe.com">
                    </div>
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea class="form-control" rows="5" placeholder="Comment"></textarea>
                    </div>
                    <div class="clearfix float-right">
                        <button type="button" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>

          <!-- post article-->
        </div>
        <div class="col-md-3 mt-4">
          <!--/col-->
            <div class="mb-4">
                <h4 class="sidebar-title">Categories</h4>
                <ul class="list-unstyled categories">
                    {% for category in categories %}
                    <li><a href="#">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!--/col-->
            <div>
                <h4 class="sidebar-title">Latest Posts</h4>
                <ul class="list-unstyled">
                    {% for num in range(0,posts_len) %}
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="/post/{{posts[num].id}}">
                            <img src="/static/images/blog_images/{{ posts[num].thumb }}" class="bd-placeholder-img" width="100%" height="96">
                            <div class="col-lg-8">
                                <h6 class="mb-0">{{ posts[num].title }}</h6>
                                <small class="text-body-secondary">{{ posts[num].date }}</small>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}